/* Global Style */
html{
    scroll-behavior: smooth;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
}
:root{
    --main-color: #bf9e7b; 
    --gray-color: #4c4d4f;
    --background-color: #141723;
    --bottun-color: #be9d7a;
    --font-style: 'Yesteryear', cursive;
}
/* ............. Components Style ............... */
img{
    max-width: 100%;
}
.main-heading{
    font-family:'Yesteryear', cursive;
    color: var(--main-color);
}
/* ............. Header Style ............... */
.navbar{
    background-color: rgba(0, 0, 0, 70%);
}
.navbar-brand{
    font-family: 'Yesteryear', cursive;
    color: var(--main-color);
}
.navbar-brand:hover{
    color: var(--main-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link.active{
    color: var(--main-color);
}
/* ............. Landing Style ............... */
.landing{
    background-image: url("../images/ezgif.com-gif-maker.webp");
    background-size: cover;
    min-height: calc(100vh - 72px);
}
.landing::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 1;
}
.landing .container .text{
    z-index: 2;
}
/* ............. About Style ............... */
.about{
    padding-top: var(--padding-size);
    padding-bottom: var(--padding-size);
}
.about .container{
    display: flex;
    justify-content: space-between;
}
.about .container div:first-child{
    flex-basis: 50%;
}
.about .container div:last-child{
    flex-basis: 35%;
}
.about .container .text-center{
    line-height: 2;
}
.about .container .text-center h1{
    font-family: var(--font-style);
    color: var(--main-color);
}
.about .container .text-center p:nth-of-type(3){
    line-height: 3;
}
.about .container .info .contact{
    background-color: #000;
    margin-top: calc(-50% + -60px);
    z-index: 2;
}
.about .container .info .contact h2{
    color: var(--main-color);
}
.about .container .info .contact a:first-of-type{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    transition: 0.3s;
    padding-bottom: 5px;
}
.about .container .info .contact a:first-of-type:hover{
    color: #fff;
}
.about .container .info .contact p:nth-of-type(5){
    font-size: 15px;
}
.about .container .info .contact p:nth-of-type(6){
    font-size: 15px;
    margin-bottom: 10px;
}
.about .container .info .contact a:last-of-type{
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translatex(-50%);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: 0.3s;
}
.about .container .info .contact a:last-of-type:hover{
    color: #fff;
}
/* ............. Specialities Style ............... */
.Specialities{
    padding-top: var(--padding-size);
    padding-bottom: var(--padding-size);
    background-image: url("../images/ezgif.com-gif-maker (3).webp");
    background-size: cover;
}
.Specialities .row .col-3 p{
    color: var(--main-color);
}
/* ............. Menu Style ............... */
.menu{
    background-color: var(--background-color);
}
.menu .container div:not(:first-child) h2{
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
}
.menu .container div:not(.text-cemter) .price{
    color: var(--main-color);
}
.menu .container > a{
    left: 50%;
    transform: translatex(-50%);
    background-color: var(--bottun-color);
    color: #000;
    transition: 0.3s;
    border-radius: 5px;
}
.menu .container > a:hover{
    color: #fff;
}
/* ............. Reservation Style ............... */
.reservation{
    background-image: url("../images/ezgif.com-gif-maker.webp");
}
@media (min-width: 992px) {
    .reservation .container .row{
    height: 50px;
    }
    .reservation .container .row form input,
    .reservation .container .row form select{
        height: 50px;
    }
}

.reservation .container > a{
    left: 50%;
    transform: translatex(-50%);
    background-color: var(--bottun-color);
    color: #000;
    transition: 0.3s;
}
.reservation .container > a:hover{
    color: #fff;
}
/* ............. Footer Style ............... */
footer{
    background-color: var(--background-color);
}
footer .container .row div > a{
    border: 1px solid var(--bottun-color);
    color: #fff;
    transition: 0.3s;
}
footer .container .row div > a:hover{
    background-color: var(--bottun-color);
    color: #000;
}
footer .container .row .social{
    bottom: 1rem;
}
@media (max-width: 992px) {
    footer .container .row .social{
        bottom: calc(-1rem - 15px);
    }
}